VITE_SUPABASE_URL=https://fekoxmaihenklruatngk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZla294bWFpaGVua2xydWF0bmdrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4MDQ5MzUsImV4cCI6MjA5MzM4MDkzNX0.LYz6zOvXE-Q09L_rqpGQr3L4azS1UgceF2IZ759xdBM
VITE_SUPABASE_CATALOGUE_BUCKET=catalogues
VITE_SUPABASE_CATALOGUE_TABLE=catalogue_files
VITE_SUPABASE_CATALOGUE_CATEGORIES_TABLE=catalogue_categories
VITE_SUPABASE_GALLERY_BUCKET=gallery
VITE_SUPABASE_GALLERY_TABLE=gallery_images
VITE_SUPABASE_GALLERY_CATEGORIES_TABLE=gallery_categories
VITE_ADMIN_EMAILS=youremail@example.com
